body {
  background-color: lightblue;
}
h1 {
  font-size: 40pt;
  text-align: center;
  color: white;
}
.jumbotron {
  background-image: url(../images/montana.jpg);
  height: 300px;
  background-size: cover;

}
