title {
  text-align: right;
}
h1 {
text-align: right;
}

body {
  background-color: lightblue;
  font-family: helvetica;
}
.column img {

  border: solid white;
}

.column h1 {
  text-align: right;
  font-size: 100;
  margin-top: 50px;

}
